@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: whitesmoke;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Dark mode toggle */
.dark-toggle-switch {
  position: relative;
  width: 100px;
  height: 35px;
  --light: #ffffff;
  --dark: #000000;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.dark-switch-label {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.dark-checkbox {
  position: absolute;
  display: none;
}

.dark-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dark-checkbox:checked ~ .dark-slider {
  background-color: var(--light);
}

.dark-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 7px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dark-checkbox:checked ~ .dark-slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
