@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: whitesmoke;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.masonry-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* height: 560px; */
  width: 50%;
  counter-reset: items;
}

/* Re-order items into 3 rows */
.masonry-item:nth-of-type(4n + 1) {
  order: 1;
}
.masonry-item:nth-of-type(4n + 2) {
  order: 2;
}
.masonry-item:nth-of-type(4n + 3) {
  order: 3;
}
.masonry-item:nth-of-type(4n) {
  order: 4;
}
