@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: whitesmoke;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.neu-body {
  border-radius: 50px;
  background: linear-gradient(145deg, #9ed6d0, #bbfff7);
  box-shadow: 11px 11px 15px #80aea9, -11px -11px 15px #ffffff;
  overflow-y: scroll;
  scrollbar-width: none;
  height: calc(100vh - 60px);
  margin: 30px;
}

.neu-body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
